body {
	font-size: 15px;
	font-family: outfit;
}

.qr {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: grid;
	background-color: hsl(212, 45%, 89%);
}
.qr-code img {
	width: 90%;
	border-radius: 20px;
	margin: 10px;
}

.qr-code {
	border-radius: 20px;
	background-color: hsl(0, 0%, 100%);
	text-align: center;
	place-self: center;
	width: max(23vw, 330px);
	margin: 10px;
}

.text {
	margin: 20px;
}

.text p {
	padding: 0px 20px;
}

@media (max-width: 375px) {
	.qr-code {
		width: max(13vw, 280px);
		height: 90vh;
        font-size: 10px;
	}

    
}
